:root{
    --primay-color :#B2C91E;
    --blue-color :#006CB8;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    box-sizing:border-box;
    margin : 0px ;
    padding :  0px;
    /* font-family: 'Archivo', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}
.navbar{
    /* position: fixed;
    top: 0;
    z-index: 999999; */
    background-color: transparent
}

.nav-link{
        font-family: 'Archivo', sans-serif;
        color: #fff;

}
.nav-item{
    padding-left: 30px;
}
.navbar-nav .nav-link.active{
    color:var(--primay-color) ;
}
.navlink-button{
   padding:10px 30px!important;
   border-radius: 5px;
    background-color: var(--blue-color);
}
.navbar.scroll {
    background-color: #0000006c;
  }
.item{
    position: relative;
    height: 80vh;
}
.item img{
    position: absolute;
    right: 0;
    top: -10px;
    
}
.banner {
    width: 70%!important;
}
.playbutton img{
    width: 100px !important;}
.playbutton {
    position: absolute;
    top: 50%;
    right: 10%;
}
.playbutton p{
    font-size: 12px;
    color: var(--blue-color);
    position: relative;
    top: 100px;
}
.slide-title{
    font-family: 'Roboto Slab', serif;
    position: absolute;
    font-size: 70px;
    font-weight: normal;
    top: 25%;
    left: 10%;
}
.slide-title::before{
    content: "";
    border: 2px solid var(--primay-color);
    width:40px;
    height: 0px;
    position: absolute;
}
.owl-dots{
    position: absolute;
    top: 80%;
    left: 10%;
}

.owl-dots button.owl-dot{
  border: 1px solid gray;
  background: grey;
   border-radius: 50%;
   height: 16px;
   width: 16px;
   position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: grey!important;
    border-radius: 50%;
  height: 12px!important;
  width: 12px!important;
  margin-left: 15px;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-theme .owl-dots .owl-dot.active {
    background: var(--primay-color)!important;
 
}
section{
    padding:30px 0px;
}
.feature-card {
    position: relative;
}
.feature-card h5{
    font-size:18px;
    font-family: 'Roboto Slab', serif;

}
.feature-card p {
    font-size:13px;
    font-family: 'Archivo', sans-serif;

}
.btn-container {
    position: relative;
}
.btn-container a {
    text-decoration:none;
    font-size:14px;
    color: var(--blue-color);
    font-family: 'Archivo', sans-serif;

}
.btn-container a::before{
    content:"";
    position: absolute;
    left: -16px;
    bottom: 6px;
    height: 10px;
    width: 10px;
    border-right:4px solid var(--primay-color);
    border-bottom:4px solid var(--primay-color);
}
.btn-about {
    position: absolute;
    left: 40px;
}
.btn-about a {
    text-decoration:none;
    font-size:14px;
    color: var(--blue-color);
    font-family: 'Archivo', sans-serif;

}
.btn-about a::before{
    content:"";
    position: absolute;
    left: -16px;
    bottom: 6px;
    height: 10px;
    width: 10px;
    border-right:4px solid var(--primay-color);
    border-bottom:4px solid var(--primay-color);
}
.subtitle{
    font-size:18px;
    font-family: 'Archivo', sans-serif;
    color: #899AA7;
}

.title{
    font-size:34px;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;

}

.desc{
    font-size:18px;
    font-family: 'Archivo', sans-serif;
    text-align: justify; 

}
.about{
    position: relative;
}
.about-image{
    position: relative;
}
.img-about{
    
    position: absolute;
    right: 50px;
    z-index:-1;
    animation: moveLeftToRight 3s linear infinite;


}

.cta{
    background-image: url(./images/bgblue.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px 60px;
}

.cta-sub{
    font-size:18px;
    font-family: 'Archivo', sans-serif;
    color:var(--primay-color)
}

.cta-title{
    font-family: 'Roboto Slab', serif;


}
.cta-btn{
    margin-top: 20px;
    color: #fff;
    background-color: var(--blue-color);
    padding:10px 20px;
    outline: none;
    border:none;
    border-radius: 3px;
    font-family: 'Archivo', sans-serif;

}
.cta-second{
    position: relative;
}
.cta-image{
    width:60%;
    border: 10px solid #fff;
    border-radius: 50%;
}

.circle{
    position:absolute;
    top: -224px;
    right: -598px;
    z-index: -1;
}
.circle img{
    width: 50%;
    animation: moveLeftToRight 3s linear infinite;

}
footer{
    padding:60px 0px 0px;
}
.footer-nav {
    margin-top: 20px;
    padding: 0px;
list-style: none;
display: flex;
justify-content: space-between;
font-family: 'Archivo', sans-serif;
}

.email{
    font-family: 'Archivo', sans-serif;}
.address p{
    font-family: 'Archivo', sans-serif;

}
.newsletter input{
    padding:  10px 20px;
    font-family: 'Archivo', sans-serif;

}

.newsletter button{
    padding:  12px 20px;
    background-color: var(--blue-color);
    border: none;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    margin-left: -5px;

}
.footer-bottom{
    background-color:#899AA7;
    padding: 20px 0px 8px; 
}
.copyright{
    font-family: 'Archivo', sans-serif;
}
.copyright a{
    color: #000;
    text-decoration: none;
}
@keyframes moveLeftToRight {
    0% {
     transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
  }

@media only screen and (max-width: 768px){
    .item{
        position: relative;
        height: 70vh;
    }
    .slide-title {
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-size: 44px;
    }
    .banner {
        width: 100%!important;}
        .playbutton img {
            width: 50% !important;
        }
        .playbutton {
            position: absolute;
            
    top: 38%;
    right: 10%;

        }
        .playbutton p {
            font-size: 12px;
            color: var(--blue-color);
            position: relative;
            top: 39px;
            left: 30px;
        }
    
    .cta-image{
        width:30%;
       margin-top: 20px;
       position:absolute;
          left: -33px;
    top: -146px;

    }
    .cta{
        text-align: center;
    }
    .circle img{
        width:80%
    }
    .circle {
        position: absolute;
        right: 0px;
        z-index: -1;
    }
    .footer-nav {
        margin-top: 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 480px){
    .item{
        position: relative;
        height: 50vh;
    }
    .cta-image {
        width: 30%;
        margin-top: 20px;
        position: absolute;
        left: 10px;
        top: -146px;
    }
    .playbutton {
        position: absolute;
        top: 25%;
        right: 10%;
}
.slide-title {
    margin-top: 60px;}
}